.primaryButton {
	text-align: center;
	color: var(--white);
	font-size: 16px;
	font-family: Nunito;
	font-weight: 400;
	word-wrap: break-word;
	width: 160px;
	height: 48px;
	background: var(--dark-turquoise);
	border: 1px var(--dark-turquoise) solid;
	border-radius: 20px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}

.primaryButton:hover {
	text-align: center;
	color: var(--dark-turquoise);
	font-size: 16px;
	font-family: Nunito;
	font-weight: 400;
	word-wrap: break-word;
	width: 160px;
	height: 48px;
	background: var(--white);
	border: 2px var(--dark-turquoise) solid;
	border-radius: 20px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}