.primaryButton {
	color: var(--white);
	font-size: var(--regularButton);
	font-family: var(--nunito);
	font-weight: 400;
	width: 160px;
	height: 48px;
	background: var(--dark-turquoise);
	border: 1px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	cursor: pointer;
}

.primaryButton:hover {
	color: var(--dark-turquoise);
	font-size: var(--regularButton);
	font-family: var(--nunito);
	font-weight: 400;
	width: 160px;
	height: 48px;
	background: var(--white);
	border: 2px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	cursor: pointer;
}