.progressBarContainer {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.progressBar {
	display: flex;
	justify-content: space-between;
	width: 15%;
}

.dot {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: var(--grey);
}

.activeDot {
	background-color: var(--dark-turquoise);
}
