.navbar {
	width: 430px;
	height: 72px;
	padding-top: 1px;
	padding-left: 13px;
	padding-right: 132px;
	background: var(--light-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 89px;
}

.hamburgerMenuIcon {
	width: 30px;
	height: 30px;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex;
}

.calmQuest {
	color: var(--black);
	font-size: var(--headingTwo);
	font-family: var(--nunito);
	font-weight: 700;
}

/*Dropdown Menu*/
.dropdownMenu {
	background-color: var(--light-blue);
	position: absolute;
	left: 0%;
	top: 7%;
	height: 20%;
	width: 30%;
	border-radius: 5%;
}

.dropMenuLink{
	text-decoration: none;
	color: var(--black);
	margin-left: 10%;
	
}

.dropMenuListStyle {
	margin-bottom: 5%;
}

.dropDownIcon {
	
}