.navbar {
	width: 430px;
	height: 72px;
	padding-top: 1px;
	padding-left: 13px;
	padding-right: 132px;
	background: var(--light-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 89px;
}

.hamburgerMenuIcon {
	width: 30px;
	height: 30px;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex;
}

.calmQuest {
	color: var(--black);
	font-size: var(--headingTwo);
	font-family: var(--nunito);
	font-weight: 700;
}
