.tabbar {
	width: 430px;
	height: 82px;
	padding-top: 1px;
	background: #c9f5ff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 62px;
}

.tabbar p {
	color: var(--black);
	font-size: 14px;
	font-family: Nunito;
	font-weight: 700;
}

.homeContainer, .shopContainer, .journalContainer, .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
