/* .navbar {
	width: 430px;
	height: 98px;
	padding-top: 49px;
	padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 132px;
	background: #c9f5ff;
	justify-content: flex-start;
	align-items: center;
	gap: 89px;
	display: inline-flex;
} */



.hamburgerMenuIcon {
	width: 19.69px;
	height: 15px;
}

.calmQuest {
	color: black;
	font-size: 32px;
	font-family: Nunito;
	font-weight: 700;
	word-wrap: break-word;
}
