.primary {
        width: 160px;
        height: 48px;
        padding-left: 37px;
        padding-right: 37px;
        padding-top: 12px;
        padding-bottom: 12px;
        background: #006075;
        border-radius: 20px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: inline-flex;
      }
      
      .sSecondary {
        width: 160px;
        height: 48px;
        padding-left: 37px;
        padding-right: 37px;
        padding-top: 12px;
        padding-bottom: 12px;
        background: white;
        border-radius: 20px;
        overflow: hidden;
        border: 1px #006075 solid;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: inline-flex;
      }
      
      .Button {
        text-align: center;
        color: white;
        font-size: 18px;
        font-family: Nunito;
        font-weight: 400;
        word-wrap: break-word;
      }
      
      .Property1Secondary .Button {
        color: #006075;
      }