.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
	background-color: var(--gray);
	overflow-y: hidden;
}

.mainContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 430px;
	height: 100vh;
	max-height: 932px;
	background-color: var(--white);
	overflow-y: auto;
	overflow-x: hidden;
}

.getStartedButton {
}

/*home content*/
.helloContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 48px;
}

.mainHello {
	font-size: var(--title2);
}

.mainQuote,
.checkIn {
	font-size: var(--body-3-small);
}

.journalingContainer {
	width: 398px;
}

.explore,
.prompt {
	font-size: var(--body-1-large);
	font-weight: bold;
}

.quote {
	font-size: var(--body2);
}

.write {
	text-align: right;
}

.exerciseCarousel {
	display: flex;
	flex-direction: row;
}

/* Quiz */
.questionOne,
.questionTwo {
	color: #000;
	font-family: 'Merriweather', serif;
	font-size: 2rem;
	font-weight: 400;
}

.questionDescription {
	font-family: "Nunito";
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.emojis {
	flex-direction: row;
	display: inline-flex;
	position: relative;
	justify-content: center;
	padding-bottom: 10rem;
}

.quizNext {
	position: absolute;
	margin-top: 30rem;
}
