.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
	background-color: var(--gray);
	overflow-y: hidden;
}

.mainContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 430px;
	height: 100vh;
	max-height: 932px;
	background-color: var(--white);
	overflow-y: auto;
	overflow-x: hidden;
}


/*Onboarding*/
.placeholder {
	padding-top: 200px;
}

.calmQuest {

}

.getStartedButton {
	margin-bottom: 266px;
}