.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.mainContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 430px;
	height: 932px;
	background-color: red;
	overflow-y: auto;
	overflow-x: hidden;
}
