.profileButton {
	width: 11.5625rem;
	height: 3rem;
	color: var(--white);
	font-size: var(--bodyLargeRegular);
	font-weight: 400;
	font-family: var(--nunito);
	background: var(--dark-turquoise);
	border: 1px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	cursor: pointer;
}

.profileButton:hover {
    width: 11.5625rem;
	height: 3rem;
	color: var(--dark-turquoise);
	font-weight: 400;
	font-size: var(--bodyLargeRegular);
	font-family: var(--nunito);
	background: var(--white);
	border: 2px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	cursor: pointer;
}