.shopButton {
	width: 190px;
	height: 45px;
	color: var(--white);
	font-size: var(--bodyLargeRegular);
	font-weight: 400;
	font-family: var(--nunito);
	background: var(--dark-turquoise);
	border: 1px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}