.secondaryButton {
	text-align: center;
	color: var(--white);
	font-size: 16px;
	font-family: var(--nunito);
	font-weight: 400;
	word-wrap: break-word;
	width: 160px;
	height: 48px;
	border-radius: 20px;
	background-color: var(--black);
	overflow: hidden;
	border: 1px var(--black) solid;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}

.secondaryButton:hover {
	width: 160px;
	height: 48px;
	color: var(--black);
	background: var(--white);
	border-radius: 20px;
	overflow: hidden;
	border: 1px var(--black) solid;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}

.secondary, .button {
	color: #006075;
}