.secondaryButton {
	color: var(--white);
	font-size: var(--regularButton);
	font-family: var(--Nunito);
	font-weight: 400;
	width: 160px;
	height: 48px;
	border-radius: 20px;
	background-color: var(--black);
	border: 1px var(--black) solid;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	cursor: pointer;
}

.secondaryButton:hover {
	width: 160px;
	height: 48px;
	color: var(--black);
	background: var(--white);
	font-weight: 400;
	border-radius: 20px;
	border: 1px var(--black) solid;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	cursor: pointer;
}

.secondary, .button {
	color: #006075;
}