:root {
	--white: #fff;
	--black: #000;
	--black-shadow-opacity: rgba(0, 0, 0, 0.25);
	--grey: #d9d9d9;
	--light-blue: #c9f5ff;
	--lighter-blue: #dcf9ff;
	--dark-turquoise: #006075;
	--dark-grey: #c0c0c0;
	--ombre: rgba(231, 236, 255, 1);

	--headingOne: 36px;
	--headingTwo: 32px;
	--headingThree: 28px;
	--headingFour: 24px;
	--headingFive: 20px;
	--headingSix: 18px;

	--bodySmall: 14px;
	--bodyRegular: 16px;
	--bodyLargeRegular: 20px;

	--largeButton: 18px;
	--regularButton: 16px;

	--nunito: 'Nunito', sans-serif;
	--merriweather: 'Merriweather', serif;
}

* {
	margin: 0;
	padding: 0;
}
