:root {
	--white: #fff;
	--black: #000;
	--black-shadow-opacity: rgba(0, 0, 0, 0.25);
	--grey: #d9d9d9;
	--light-grey: #ECECEC;
	--light-blue: #AEE2FF;
	--light-yellow: #FFF6B7;
	--light-green: #C2FFDC;
	--light-purple: #F8E2FF;
	--light-red: #FFD2CE;
	--peach: #FFDCC1;

	--old-blue: #C9F5FF;
	--lighter-blue: #dcf9ff;
	--dark-turquoise: #006075;
	--dark-grey: #c0c0c0;
	--yellow: #FAE033;
	--green: #49962E ;
	--dark-brown: #B37F4D ;
	--red: #ff0000;

	--headingOne: 36px;
	--headingTwo: 32px;
	--headingThree: 28px;
	--headingFour: 24px;
	--headingFive: 20px;
	--headingSix: 18px;

	--bodySmall: 14px;
	--bodyRegular: 16px;
	--bodyLargeRegular: 20px;

	--largeButton: 18px;
	--regularButton: 16px;

	--nunito: 'Nunito', sans-serif;
	--merriweather: 'Merriweather', serif;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Nunito", sans-serif;
	font-family: "Merriweather", serif;
}