.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
	background-color: var(--grey);
	overflow-y: hidden;
	font-family: var(--nunito);
}

.mainContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 430px;
	height: 100vh;
	max-height: 932px;
	background-color: var(--white);
	overflow-y: auto;
	overflow-x: hidden;
}

.row {
	display: flex;
	flex-direction: row;
}

/* index/onboarding page */
.onboardingBackground {
	background-color: var(--old-blue);
}

.animationGetStarted {
	position: absolute;
	margin-top: -20rem;
	margin-left: 3rem;
}

.animationGetStarted:hover {
	position: absolute;
	margin-top: -20rem;
	margin-left: 3rem;
}

.getStartedButton {
	transition: opacity 3s ease-in-out;
	margin-left: 1.5rem;
}

.nextButton {
	margin-top: 2rem;
}

.featureIcons {
	padding-left: 5.8rem;
	padding-top: 14rem;
	position: relative;
}

.features {
	padding-top: 3rem;
	text-align: center;
	font-family: var(--merriweather);
	font-size: var(--headingFour);
}

.featuresText {
	padding-top: 1.5rem;
	text-align: center;
	font-size: var(--bodyLargeRegular);
}

.logoIcon {
	margin-top: 265px;
	margin-left: 90px;
}

.startJourneyText {
	font-family: var(--merriweather);
	font-size: var(--headingFour);
	text-align: center;
	margin-top: 2rem;
}

.createProfile {
	width: 100%;
	top: 8rem;
	left: 0.1rem;
	position: absolute;
	text-align: center;
	color: var(--black);
	font-size: var(--headingTwo);
	font-family: var(--merriweather);
}

.yourName {
	width: 14.56rem;
	height: 1.9085rem;
	left: 6rem;
	top: 28rem;
	position: absolute;
	text-align: center;
	color: var(--black);
	font-weight: bold;
	font-size: var(--headingThree);
	font-family: var(--nunito);
}

.chosenIcon {
	border-radius: 50%;
	margin-top: 13rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nameInput {
	width: 330px;
	height: 2.8125rem;
	left: 3rem;
	top: 36rem;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0.15rem solid var(--black);
	color: var(--black);
	border-radius: 0.5rem;
	background-color: var(--white);
	font-size: var(--headingFive);
	font-family: var(--nunito);
}

.iconContainer {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	left: 0;
	top: 490px;
	padding: 0 20px;
}

.iconBox {
	width: 150px;
	height: 150px;
	padding-right: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.onboardingIcon {
	width: 13.75rem;
	height: 13.75rem;
	max-width: 100%;
	max-height: 100%;
}

.goButton {
	margin-top: 9rem;
}

.requiredName {
	color: var(--red);
	font-size: var(--bodyRegular);
	font-family: var(--nunito);
	margin-top: 2.4rem;
	position: absolute;
	padding-left: 4.5rem;
}

.perfectButton {
	margin-top: 15rem;
}

/* HomePage */
.helloContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 48px;
}

.helloContainerLeft {
	margin-top: -1rem;
	padding-right: 18.5rem;
	margin-bottom: 7rem;
}

.helloInspiration {
	display: flex;
	flex-direction: row;
}

.mainHello {
	font-size: var(--headingTwo);
	position: absolute;
	margin-left: -2.5rem;
}

.mainQuote {
	position: absolute;
	font-size: var(--bodySmall);
	width: 90%;
	margin-left: -2.5rem;
	margin-top: 3rem;
}

.checkInCard {
	width: 398px;
	height: 88px;
	background-color: var(--light-blue);
	border-radius: 10px;
	box-shadow: 0px 4px 4px var(--black-shadow-opacity);
}

.checkInText {
	font-family: var(--nunito);
	font-size: var(--bodyRegular);
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	width: 45%;
}

.checkInButtonContainer {
	display: flex;
	padding-left: 14rem;
	margin-top: -3rem;
}

.checkInButton {
	width: 150px;
	height: 45px;
}

.explore {
	padding-right: 18rem;
}

.exerciseLink {
	text-decoration: none;
	color: var(--black);
}

.exerciseLink:hover {
	text-decoration: none;
	border: 0.1rem solid var(--dark-turquoise);
	border-radius: 10px;
}

.exerciseCarousel {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.exerciseCard {
	text-align: center;
	background-color: var(--light-blue);
	width: 191px;
	height: 144px;
	box-shadow: 0px 4px 4px var(--black-shadow-opacity);
	align-content: center;
	border-radius: 10px;
}

/* Quiz/Check-In */
.questionOne,
.questionTwo {
	color: var(--black);
	font-family: var(--merriweather);
	font-size: var(--headingTwo);
	font-weight: 400;
	text-align: center;
	margin-top: 15rem;
}

.questionFour {
	color: var(--black);
	font-family: var(--merriweather);
	font-size: var(--headingThree);
	font-weight: 400;
	text-align: center;
	margin-top: 16rem;
	width: 90%;
}

.questionTwoDescription {
	font-family: var(--nunito);
	font-size: var(--bodyRegular);
	font-weight: 400;
	padding-bottom: 4rem;
}

.questionThreeDescription {
	font-family: var(--nunito);
	font-size: var(--bodyRegular);
	font-weight: 400;
	margin-top: -10rem;
}

.emojis {
	flex-direction: row;
	display: inline-flex;
	position: relative;
	justify-content: center;
	padding-bottom: 24rem;
}

.emojisEmotion {
	padding-bottom: 15rem;
}

.emotionContainer {
	display: flex;
	justify-content: center;
}

.emotionRegular {
	width: 9rem;
	height: 6rem;
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: var(--light-blue);
	border-radius: 0.5rem;
}

.selectedEmoji {
	border: 0.2rem solid var(--dark-turquoise);
}

.multiSelectContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 15rem;
}

.titleEmotion {
	position: absolute;
	margin-top: -6rem;
}

.rectangle {
	width: 6.5rem;
	height: 3.5rem;
	background-color: var(--light-blue);
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	font-family: var(--nunito);
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5rem;
}

.primaryButtonQuiz {
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
	display: inline-flex;
}

.primaryButtonQuiz:hover {
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
	display: inline-flex;
}

.secondaryButtonQuiz {
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
	display: inline-flex;
}

.secondaryButtonQuiz:hover {
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
	display: inline-flex;
}

.primaryButtonQuizLeft {
	justify-content: center;
	align-items: center;
	margin-left: 3rem;
	margin-top: 2rem;
	display: inline-flex;
}

.primaryButtonQuizLeft:hover {
	justify-content: center;
	align-items: center;
	display: inline-flex;
	margin-left: 3rem;
	margin-top: 2rem;
}

.primaryButtonQuizRight {
	justify-content: center;
	align-items: center;
	display: inline-flex;
	margin-left: 0.5rem;
	margin-top: 2rem;
}

.primaryButtonQuizRight:hover {
	justify-content: center;
	align-items: center;
	display: inline-flex;
	margin-left: 0.5rem;
	margin-top: 2rem;
}

.outcomeContainer {
	padding-top: 8rem;
}

.checkIcon {
	position: relative;
	padding-left: 10rem;
	margin-top: -4rem;
}

.checkDone {
	color: var(--black);
	font-family: var(--merriweather);
	font-size: var(--headingTwo);
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.outcomeMessage {
	text-align: center;
	width: 90%;
	padding-left: 1rem;
}

.primaryButtonQuiz:focus {
	outline: none;
	box-shadow: 0 0 0 0.15rem var(--dark-grey);
}

.secondaryButtonQuiz:focus {
	outline: none;
	box-shadow: 0 0 0 0.15rem var(--dark-grey);
}

.primaryButtonQuizLeft:focus,
.primaryButtonQuizRight:focus {
	outline: none;
	box-shadow: 0 0 0 0.15rem var(--dark-grey);
}

.claimedSeeds:focus {
	outline: none;
	box-shadow: 0 0 0 0.15rem var(--black);
}

.toShopButton:focus {
	outline: none;
	box-shadow: 0 0 0 0.15rem var(--dark-grey);
}

.seedContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13rem;
	height: 3rem;
	border-radius: 0.6rem;
	border: 0.1rem solid var(--black);
	margin-left: 6.5rem;
	margin-top: 2rem;
}

.seedAmount {
	font-size: var(--bodyRegular);
	font-family: var(--nunito);
	padding-right: 2rem;
}

.seedButton {
	width: 5rem;
	height: 2rem;
	padding: 0.75rem 2rem;
	background: var(--dark-turquoise);
	color: var(--white);
	font-family: var(--nunito);
	font-size: var(--bodyRegular);
	border-radius: 20px;
	border: 1px var(--dark-turquoise) solid;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}

.claimedSeeds {
	width: 5rem;
	height: 2rem;
	padding: 0.75rem 2rem;
	background: var(--dark-grey);
	color: var(--white);
	font-family: var(--nunito);
	font-size: var(--bodyRegular);
	border-radius: 20px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: inline-flex;
	border: 1px var(--dark-grey) solid;
}

.toShopButton {
	margin-top: 2rem;
	margin-left: 8.5rem;
}

/* About page */
.goBackLink {
	text-decoration: none;
	color: var(--black);
}

.leftArrow {
	width: 15px;
	height: 15px;
}

.goBackContainer {
	margin-top: -10%;
	margin-left: 7%;
}

.h2AboutUs {
	text-align: center;
	margin-top: 7%;
	margin-bottom: 5%;
	font-family: var(--merriweather);
	font-size: var(--headingOne);
}

.aboutUsParagraph {
	text-align: left;
	margin-left: 8%;
	margin-right: 8%;
	font-family: var(--nunito);
	font-size: var(--bodyRegular);
	line-height: 1.3;
}

.rowAboutUs {
	display: flex;
	justify-content: center;
	margin-top: 5%;
	padding-top: 3%;
}

.contactButton {
	padding-right: 5%;
}

.aboutUsMascot {
	justify-content: center;
	display: flex;
	margin-top: 10%;
}

/* Profile */
.profileContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -25rem;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.editProfile {
	position: absolute;
	margin-top: 2rem;
	margin-left: -6rem;
}

.linkButtons {
	position: absolute;
	margin-top: 24rem;
}

.settingsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--light-blue);
	width: 398px;
	height: 75px;
	border-radius: 10px;
	margin: 1rem;
}

.profileSettingsIcon {
	position: absolute;
	margin-right: 17rem;
}

.settingsText {
	position: absolute;
	margin-left: -6rem;
	font-size: var(--headingFive);
	font-family: var(--nunito);
	font-weight: bold;
}

.settingsAboutText {
	position: absolute;
	margin-left: -7rem;
	font-size: var(--headingFive);
	font-family: var(--nunito);
	font-weight: bold;
}

.profileLinks {
	text-decoration: none;
	color: var(--black);
}

/* Edit Profile */
.profileInformation {
	font-family: var(--nunito);
	font-size: var(--bodyLargeRegular);
	font-weight: bold;
	margin-top: -3rem;
}

.editIcon {
	margin-top: -6rem;
	margin-bottom: 3rem;
}

.selectOptions {
	display: flex;
	gap: 1rem;
	margin-top: -8rem;
}

.optionsButton {
	width: 190px;
	height: 45px;
}

.optionsButton:hover {
	width: 190px;
	height: 45px;
}

.changeNameContainer {
	margin-top: -10rem;
}

.nameHeading {
	font-family: var(--nunito);
	font-size: var(--bodyLargeRegular);
	font-weight: bold;
	margin-left: -21rem;
	margin-top: -7rem;
	position: relative;
}

.editProfileNameInput {
	width: 360px;
	height: 45px;
	text-align: left;
	padding-left: 1rem;
	margin-left: -2rem;
	margin-top: -6rem;
}

.editProfileSaveButton {
	width: 396px;
	height: 50px;
	margin-top: 5rem;
}

.editProfileSaveButton:hover {
	width: 24.75rem;
	height: 3.125rem;
}

/* Change Avatar */
.avatarContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1.25rem 1.25rem 0rem 0rem;
	background-color: var(--light-blue);
	width: 432px;
	height: 575px;
	position: absolute;
	margin-top: 18rem;
}

.currentAvatarContainer {
	position: relative;
	margin-top: 1rem;
}

.filterButtonsContainer {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	gap: 1rem;
	margin-left: -5rem;
}

.filterButtons {
	width: 80px;
	height: 32px;
	color: var(--white);
	font-size: var(--bodyRegular);
	font-family: var(--nunito);
	font-weight: 400;
	background: var(--dark-turquoise);
	border: 1px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.secondfilterButtons {
	width: 100px;
	height: 32px;
	color: var(--white);
	font-size: var(--bodyRegular);
	font-family: var(--nunito);
	font-weight: 400;
	background: var(--dark-turquoise);
	border: 1px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.inactiveFilterButton {
	color: var(--dark-turquoise);
	background-color: var(--light-grey);
	border: 1px var(--dark-turquoise) solid;
	font-weight: 400;
}

.avatarGallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.avatarSaveButton {
	width: 396px;
	height: 50px;
	margin-top: 32rem;
	position: relative;
	z-index: 1;
}

.avatarSaveButton:hover {
	width: 396px;
	height: 50px;
	margin-top: 32rem;
	position: relative;
	z-index: 1;
}

/*Exercise*/
.exerciseText {
	color: var(--black);
	font-family: var(--merriweather);
	font-size: var(--headingTwo);
	font-weight: 400;
	position: absolute;
	top: 417px;
	text-align: center;
}

.exerciseBox {
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: var(--lighter-blue);
	width: 370px;
	border-radius: 8px;
	padding: 14px;
	font-size: var(--bodySmall);
}

.exerciseBoxText {
	display: flex;
	flex-direction: column;
	padding-left: 16px;
}

.textAndArrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 500px;
}

.exerciseBoxList {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: absolute;
	left: 16px;
	top: 481px;
}

.mascotExercise {
	position: absolute;
	left: 126px;
	top: 126px;
}

.exerciseIntroBold {
	font-family: var(--nunito);
	font-weight: 700;
	font-size: var(--bodyRegular);
}

.exerciseBold {
	color: 'black';
	font-family: var(--nunito);
	font-weight: 700;
}

.goBackExerciseContainer {
	position: absolute;
	left: 16px;
	top: 89px;
}

/* Five Sense */
.fiveSenseText {
	color: var(--black);
	font-family: var(--merriweather);
	font-size: var(--headingTwo);
	font-weight: 400;
	text-align: center;
	position: absolute;
	top: 120px;
}

.fiveSenseList {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: absolute;
	top: 182px;
	left: 16px;
}

.mascotFiveSense {
	position: absolute;
	top: 305px;
	left: 127px;
}

.partyPopper {
	position: absolute;
	top: 341px;
	left: 16px;
}

.fiveSenseButton {
	position: relative;
	top: 325px;
	left: 125px;
}

.mascotBell {
	position: absolute;
	top: 126px;
	left: 126px;
}

.bellVideo {
	position: absolute;
	top: 657px;
	left: 96px;
}

.yellowBackground {
	background-color: var(--light-yellow);
}

.greenBackground {
	background-color: var(--light-green);
}

.purpleBackground {
	background-color: var(--light-purple);
}

.redBackground {
	background-color: var(--light-red);
}

.peachBackground {
	background-color: var(--peach);
}

.blueBackground {
	background-color: var(--light-blue);
}

/* Contact Us */
.contactUs {
	padding-left: 10%;
	padding-right: 5%;
}

.contactUsH2 {
	margin-left: 10%;
	margin-bottom: 10%;
	/* font-family: var("Nunito";); */
}

.goBackContactUs {
	padding-bottom: 10%;
	margin-left: 8%;
}

/* Languages */
.goBackLanguages {
	margin-right: 69%;
	padding-bottom: 10%;
	margin-top: -54%;
}

.languagesH2 {
	font-family: var(--merriweather);
	font-size: var(--headingTwo);
	font-weight: lighter;
	margin-bottom: 15%;
	margin-top: -150%;
}

.langSetContainer {
	text-align: center;
	padding-right: 45%;
}

.buttonText {
	font-family: var(--nunito);
	font-weight: bold;
	font-size: var(--bodyLargeRegular);
}

.whichLang {
	margin-bottom: 2%;
	display: flex;
	align-items: center;
}

.langType {
	width: 40px;
	height: 27px;
	cursor: pointer;
}

.langStyling {
	font-family: var(--nunito);
	font-size: var(--bodyRegular);
}

/* Language French */
.goBackFrench {
	margin-top: -57%;
	margin-left: -64%;
}

.frenchText {
	width: 280px;
	font-weight: bold;
}

.frenchText:hover {
	width: 280px;
	font-weight: bold;
}

.frenchParagraph {
	margin-bottom: 10%;
	font-family: var(--nunito);
	font-weight: bold;
	font-size: var(--bodyLargeRegular);
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.frenchSetContainer {
	display: flex;
	flex-direction: column;
	margin-top: -20%;
	align-items: center;
}

.frenchCheckConfirm {
	display: flex;
	width: 80px;
	margin-bottom: 10%;
}

.frenchMainContainer {
	justify-content: center;
}

/* Settings */
.changeLanguageContainer {
	margin-top: -160%;
	background-color: var(--dark-grey);
}
