.buttonLong {
	width: 330px;
	height: 48px;
	color: var(--white);
	font-size: var(--regularButton);
	font-weight: 400;
	font-family: var(--nunito);
	background: var(--dark-turquoise);
	border: 1px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.buttonLong:hover {
	width: 330px;
	height: 48px;
	color: var(--dark-turquoise);
	font-weight: 400;
	font-size: var(--regularButton);
	font-family: var(--nunito);
	background: var(--white);
	border: 2px var(--dark-turquoise) solid;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}